@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* "Playfair Display", serif */

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #e3e8e3;
  --primary-color: #343434;
  --main-font: "Playfair Display", serif;
}

/* Navigation Start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}

ul li {
  display: inline;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #000;
  margin-left: 4rem;
}

ul li a:hover {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}

.btn-fill {
  padding: 10px 30px;
  background: var(--primary-color);
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}

/* Navigation End */
