@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* "Playfair Display", serif */

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #e3e8e3;
  --primary-color: #343434;
  --main-font: "Playfair Display", serif;
}

/* Navigation Start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}

ul li {
  display: inline;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #000;
  margin-left: 4rem;
}

ul li a:hover {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}

.btn-fill {
  padding: 10px 30px;
  background: var(--primary-color);
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: none;
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* Navigation End */

/* Header Start */
header {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  margin-left: 6rem;
}

.main-headings {
  font-size: 4rem;
  font-family: var(--main-font);
  color: #0000004f;
  margin-bottom: 2rem;
}

.main-headings span {
  color: #000;
}

.primary-headings {
  max-width: 500px;
  font-family: sans-serif;
  line-height: 25px;
  margin-bottom: 2rem;
}

.img-container {
  width: 500px;
  height: 500px;
  background: var(--main-color);
  border-radius: 100%;
}

.img-container img {
  width: 400px;
  height: 500px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Header End */

/* Popularity Start */
.popularity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.popularity div {
  margin-right: 5rem;
}

.popularity div h1 {
  font-size: 3rem;
  text-align: center;
  color: #363636;
  font-family: var(--main-font);
}

.popularity div p {
  color: #363636;
  font-family: sans-serif;
}
/* Popularity End */
